html{
  background-color: #1F7A8C;
}
#heading{
  min-height: 400px;
  background-color: #1F7A8C;

}

#about{
  background-color: #ffffff
}
#skillsbackground{
  background-color: #88CCF1
}
#skills{
  text-align: center;
  vertical-align: middle;
}
#left{
  text-align: left;
}
#experience{
  background-color:#C1DFF0
}
#circle:hover{
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#contact{
  background-color: #1F7A8C
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
